.App {
  text-align: center;
}

.userProfiles{
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center; 
}

.profileCon{
  width: 100px;
  height: 100px; 
  border-radius: 50px;
  overflow: hidden;
  margin: 2rem; 
}

.profileCon img{
  min-width: 160%;
  transform: translate(-20%, 0);

}

.profileCon2{
  width: 50px;
  height: 50px; 
  border-radius: 50px;
  overflow: hidden;
  margin: 2rem; 

}

.profileCon2 img{
  min-width: 160%;
  transform: translate(-20%, 0);
}

.profileCon3{
  width: 200px;
  height: 200px; 
  border-radius: 200px;
  overflow: hidden;
  margin: 2rem; 

}

.profileCon3 img{
  min-width: 160%;
  transform: translate(-20%, 0);
}

.linkImage{
  height: 300px;
}


.userHead{
  display: flex; 
  float: right; 
  padding-right: 30px; 
  /* margin-top: 30px; 
  margin-right: 30px;  */
}


.signUpForm{ 
  max-width: "400px";
  padding: "100px";
  border: solid; 
}

.pageHeader{
  text-align: center; 
  font-size: 2rem; 
  font-weight: 600;
  padding: 50px; 
}

.welcomeHeader{
  font-family: 'Roboto Slab', serif;
  font-weight: 700; 
  font-size: 4rem; 
  line-height: 4rem; 
  padding: 4rem 2rem 1rem 2rem ; 
  color: #72CC72; 

}

.welcomePara{
  padding: 0 2rem 1rem 2rem ; 

}

.getStartedHeader{
  padding-left: 2rem; 
  padding-right: 2rem; 
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.5rem; 
  color: #72CC72; 

}

.catBox{ 
  background-color: #72CC72; 
  background-image: linear-gradient( 135deg, #28C76F 10%, #72CC72 100%);
  margin: 2rem; 
  width: 200px ; 
  height: 200px; 
}

.catBox:hover{
  background-image: linear-gradient(to right, #596164 100%, #868f96 10% );
}


.catTitle{ 
  color: white; 
  font-size: 1.5rem; 
  font-weight: 600;
  padding: 1.5rem; 
  text-align: center; 
  padding-top: 35%;
}

.headerColumns{
  display: flex; 
}

.headerColumn{
  flex: 50%; 
}

.stashOuter{
  column-count: 3;
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center; 
}

.stashSpace{
  padding: 50px; 
}